/* Content */
/* 1. body */
/* 2. header */
/* 3. cards */
/* 4. Footer */
/* 5.Media Queries */
/* 6. Product Details */
/* 7. Image Slider */

/* 1. body */
:root {
  --main-bg-color: #d6e4f0;
  --main-txt-color: #212121;
  --second-color: #163172;
  --third-color: #1e56a0;
  --fourth-color: #f6f6f6;
  --border-color: #bdbdbd;
}

body {
  color: var(--main-txt-color);
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

/* 2. header */
.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 10px 100px;
  background-color: var(--fourth-color);
  align-items: center;
  box-shadow: 0px 0px 5px 9px rgba(0, 0, 0, 0.15);
}

.menu {
  list-style: none;
  display: flex;
}

.menu-item {
  padding: 0px 8px 0px 8px;
  color: var(--third-color);
  cursor: pointer;
}
.active-menu {
  font-weight: bold;
}

.menu-item:hover {
  font-weight: bold;
}

.mobile {
  display: none;
}

.desktop {
  display: flex;
}
.mobile-menu {
  position: absolute;
  background: var(--fourth-color);
  width: 100%;
  left: 0;
  padding-bottom: 20px;
  display: block !important;
  text-align: right;
}
.menu-item-mobile {
  padding: 0px 70px 0px 8px;
  color: var(--third-color);
  cursor: pointer;
}
/* 3. cards */
.main {
  grid-area: main;
  background-color: var(--main-bg-color);
  padding: 50px 100px 50px 100px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
}

.product-card {
  background-color: var(--fourth-color);
  border-radius: 20px;
  -webkit-box-shadow: 0 7px 12px 0 rgba(62, 57, 107, 0.13);
  box-shadow: 0 7px 12px 0 rgba(62, 57, 107, 0.13);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-card-image {
  height: 100%;
}

.img-card {
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.product-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.prod-card-text {
  margin: 5px;
  color: var(--second-color);
}

.other-cards {
  border-radius: 15px 15px 15px 15px;
  transition: 0.2s all;
}

.box-wrap:hover .other-cards {
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}

.box-wrap:hover .other-cards:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

/* 4. Footer */

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  background-color: var(--third-color);
  color: var(--fourth-color);
}

/* 5.Media Queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main {
    grid-area: main;
    background-color: var(--main-bg-color);
    padding: 50px 30px 50px 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(300px, auto);
  }
  .product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .slider-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .main-image {
    border-radius: 20px;
    margin-left: 5px;
    height: 100%;
    width: 80% !important;
  }
  .slider-thumbnails {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    width: 80% !important;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 20px;
  }
  .slider-list {
    padding: 0px;
    display: flex;
  }
  .arrow-up {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    transform: rotate(-90deg);
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
    transform: rotate(-90deg);
  }
  .product-details-labels {
    width: 75% !important;
  }
  .product-description {
    width: 75%;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .header {
    padding: 10px 20px 10px 20px !important;
  }
}
@media only screen and (max-width: 320px) {
  .main {
    grid-area: main;
    background-color: var(--main-bg-color);
    padding: 50px 30px 50px 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(300px, auto);
  }
  .product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .slider-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .main-image {
    border-radius: 20px;
    margin-left: 5px;
    height: 100%;
    width: 80% !important;
  }
  .slider-thumbnails {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    width: 80% !important;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 20px;
  }
  .slider-list {
    padding: 0px;
    display: flex;
  }
  .arrow-up {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    transform: rotate(-90deg);
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
    transform: rotate(-90deg);
  }
  .product-details-labels {
    width: 75% !important;
  }
  .product-description {
    width: 75%;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .header {
    padding: 10px 20px 10px 20px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .main {
    grid-area: main;
    background-color: var(--main-bg-color);
    padding: 50px 30px 50px 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(300px, auto);
  }
  .product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .slider-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .main-image {
    border-radius: 20px;
    margin-left: 5px;
    height: 100%;
    width: 80% !important;
  }
  .slider-thumbnails {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    width: 80% !important;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 20px;
  }
  .slider-list {
    padding: 0px;
    display: flex;
  }
  .arrow-up {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    transform: rotate(-90deg);
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
    transform: rotate(-90deg);
  }
  .product-details-labels {
    width: 75% !important;
  }
  .product-description {
    width: 75%;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .header {
    padding: 10px 20px 10px 20px !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .main {
    grid-area: main;
    background-color: var(--main-bg-color);
    padding: 50px 30px 50px 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(300px, auto);
  }
  .product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .slider-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .main-image {
    border-radius: 20px;
    margin-left: 5px;
    height: 100%;
    width: 80% !important;
  }
  .slider-thumbnails {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    width: 80% !important;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 20px;
  }
  .slider-list {
    padding: 0px;
    display: flex;
  }
  .arrow-up {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    transform: rotate(-90deg);
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
    transform: rotate(-90deg);
  }
  .product-details-labels {
    width: 75% !important;
  }
  .product-description {
    width: 75%;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .header {
    padding: 10px 20px 10px 20px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .main {
    grid-area: main;
    background-color: var(--main-bg-color);
    padding: 50px 30px 50px 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(300px, auto);
  }
  .product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .slider-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .main-image {
    border-radius: 20px;
    margin-left: 5px;
    height: 100%;
    width: 80% !important;
  }
  .slider-thumbnails {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    width: 80% !important;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 20px;
  }
  .slider-list {
    padding: 0px;
    display: flex;
  }
  .arrow-up {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    transform: rotate(-90deg);
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
    transform: rotate(-90deg);
  }
  .product-details-labels {
    width: 75% !important;
  }
  .product-description {
    width: 75%;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .header {
    padding: 10px 20px 10px 20px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .main {
    grid-area: main;
    background-color: var(--main-bg-color);
    padding: 50px 30px 50px 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(300px, auto);
  }
  .product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .slider-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .main-image {
    border-radius: 20px;
    margin-left: 5px;
    height: 100%;
    width: 80% !important;
  }
  .slider-thumbnails {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    width: 80% !important;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 20px;
  }
  .slider-list {
    padding: 0px;
    display: flex;
  }
  .arrow-up {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    transform: rotate(-90deg);
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
    transform: rotate(-90deg);
  }
  .product-details-labels {
    width: 75% !important;
  }
  .product-description {
    width: 75%;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .header {
    padding: 10px 20px 10px 20px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .main {
    grid-area: main;
    background-color: var(--main-bg-color);
    padding: 50px 30px 50px 30px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
    grid-auto-rows: minmax(300px, auto);
  }
  .product-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .slider-container {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .main-image {
    border-radius: 20px;
    margin-left: 5px;
    height: 100%;
    width: 80% !important;
  }
  .slider-thumbnails {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    width: 80% !important;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    height: 60px;
    margin-bottom: 20px;
  }
  .slider-list {
    padding: 0px;
    display: flex;
  }
  .arrow-up {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    transform: rotate(-90deg);
  }
  .arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 0px !important;
    transform: rotate(-90deg);
  }
  .product-details-labels {
    width: 75% !important;
  }
  .product-description {
    width: 75%;
  }
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .header {
    padding: 10px 20px 10px 20px !important;
  }
}

/* 6. Product Details */

.product-details-container {
  display: flex;
  flex-direction: column;
}

.product-details {
  display: flex;
  justify-content: space-between;
}

.product-details-img-cont {
  flex-grow: 2;
}

.product-details-labels {
  flex-grow: 2;
  background-color: var(--fourth-color);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.product-description {
  margin-top: 80px;
  background-color: var(--fourth-color);
  border-radius: 20px;
  padding: 20px;
}

.single-text {
  margin-bottom: 15px;
}
.single-text-price {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.prod-price-text {
  margin: 5px;
  color: var(--second-color);
  font-size: 2em;
  font-weight: bold;
}
.prod-name-text {
  color: var(--second-color);
  font-size: 1.5em;
}
.prod-detail-text {
  margin: 5px;
  color: var(--second-color);
}
.prod-spec-text {
  font-size: 1.2em;
  margin-left: 5px;
}

.prod-desc-cont {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}

.prod-desc-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--second-color);
}

.btn-container {
  width: 100%;
}
.purchase-btn {
  width: 100%;
  color: white;
  background-color: #163172;
  border: none;
  border-radius: 10px;
  height: 50px;
  font-size: 1.3em;
  cursor: pointer;
  outline: none;
}
.purchase-btn:hover {
  background-color: #1e56a0;
}
/* 7. Image Slider */

.slider-container {
  display: flex;
  width: 100%;
}

.slider-thumbnails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--third-color);
  width: 60px;
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
}

.slider-main-image {
  flex-grow: 1;
}

.img-thumbnail {
  width: 100%;
  cursor: pointer;
}

.img-thumbnail:hover {
  border: 2px solid #fff;
}

.active-thumbnail {
  border: 2px solid #fff;
}

.custom-list {
  list-style: none;
  padding: 0px;
}

.slider-list {
  padding: 0px;
}
.arrow-up {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.arrow-down {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.main-image {
  width: 700px;
  border-radius: 20px;
  margin-left: 5px;
  height: 100%;
}

/* 8. Add Product form */
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 50%;
  background-color: var(--fourth-color);
  border-radius: 20px;
  padding: 20px 10px 20px 10px;
  box-shadow: 0 7px 12px 0 rgba(62, 57, 107, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title {
  font-size: 1.5em;
}

.txtBox-container {
  height: 52px;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.text-danger {
  font-style: italic;
  color: red;
}

.txtbox {
  width: 80%;
  border: 1px solid var(--third-color);
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
}

.txt-area {
  width: 80%;
  border: 1px solid var(--third-color);
  border-radius: 5px;
  padding-left: 10px;
}

.form-cont {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.forms {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.txtbox-name {
  text-align: left;
  padding-left: 55px;
  margin-bottom: 5px;
}

.important {
  color: red;
}
.tx-area {
  margin-bottom: 80px;
}
.specifications-cont {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.btn-add {
  width: 50px;
}

.circle-btn {
  border-radius: 50%;
}

.added-spec {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
}
.remove-spec{
  cursor: pointer;
}

.img-area{
  width: 80%;
  margin-bottom: 20px;
}

.img-label{
  text-align: left;
  margin-bottom: 5px;
}